<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766784918704-q0qaprrucje2q9t5d8rmrsr33ocsokgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766784918704-q0qaprrucje2q9t5d8rmrsr33ocsokgb</string>
	<key>API_KEY</key>
	<string>AIzaSyCpyLH7wdfnNONg7bjrZKrWS5dH4u1VwBI</string>
	<key>GCM_SENDER_ID</key>
	<string>766784918704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chitomo12.PushNotificationSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766784918704:ios:560d8a252189cb90161775</string>
</dict>
</plist>